body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 30px;
}

a{
	text-decoration: none;
	font-family: sans-serif;
	display: flex;
    align-items: center;
    justify-content: center;
}

/* Button 1 */
a.btn1 {
	color: #262626;
	font-size: 45px;
	border: 5px solid #262626;
	padding: 40px 80px;
	position: relative;
	overflow: hidden;
}

a.btn1:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	background-color: #fff200;
	height: 100%;
	width: 100%;
	z-index: -1;
	transform-origin: bottom left;
 	transform: rotate(-90deg);
	transition: transform 1s;
}

a.btn1:hover:before {
	transform: rotate(0deg);
}

/* Button 2 */
a.btn2{
	color: #351435;
	font-size: 40px;
	border: 3px solid #351435;
	padding: 40px 80px;
	position: relative;
	transition: all 1s;
	overflow: hidden;
}

a.btn2::before{
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	background-color: #351435;
	width: 100%;
	height: 100%;
	z-index: -1;
	transform-origin: left;
	transform: translateX(-100%);
	transition: all 1s;
}

a.btn2:hover:before{
	transform: translateX(0);
}

a.btn2:hover{
	color: #fff;
}

/* Button 3 */
/* a.btn3{
	padding: 40px 80px;
	color: #E1332D;
	border: 3px solid #E1332D;
	text-transform: uppercase;
	font-size: 40px;
	font-weight: 300;
	letter-spacing: -2px;
	transition: all .5s;
	font-family: 'Roboto';
}

a.btn3:hover{
	font-weight: 900;
	letter-spacing: 10px;
	border: 7px solid #E1332D;
} */

/* Button 4 */
.bg-dark{
	width: 100%;
	background-color: #222;
	height: 100%;
	max-height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 50px 0;
	z-index: 0;
}

a.btn4{
	color: #fff;
	font-size: 40px;
	border: 3px solid #fff;
	padding: 40px 80px;
	position: relative;
	transition: all 1s;
	overflow: hidden;
}

a.btn4::before{
	content: 'Good!';
	position: absolute;
	top: 0;
	right: 0;
	background-color: #f44336;
	width: 100%;
	height: 100%;
	transform-origin: top;
	transform: translateY(-100%);
	transition: all 1s;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}

a.btn4:hover:before{
	transform: translateY(0);
}

/* Button 5 */
a.btn5{
	color: #fff;
	font-size: 40px;
	border: 3px solid #fff;
	padding: 40px 80px;
	position: relative;
	transition: all .3s;
	overflow: hidden;
}

a.btn5:hover{
	background-color: #f44336;
}

a.btn5::before{
	content: '';
	background-color: #fff;
	top: 0;
	left: 0;
	position: absolute;
	width: 100%;
	height: 50px;
	transform: translateX(-100%) rotate(45deg);
	transition: all .3s;
}

a.btn5:hover:before{
	transform: translateX(100%) rotate(45deg);
}

/* Button 6 */
a.btn6{
	color: transparent;
	background-color: #262626;
	font-size: 40px;
	border: 3px solid #262626;
	padding: 40px 80px;
	position: relative;
	overflow: hidden;
}

a.btn6::before{
	content: 'Hover Me';
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: #fffa65;
	color: #262626;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all .5s;
}

a.btn6:hover:before{
	transform: translate(100%, -100%);
}

a.btn6::after{
	content: 'Hover Me';
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: #fffa65;
	color: #262626;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all .5s;
	transform: translate(-100%, 100%);
}

a.btn6:hover::after{
	transform: translate(0, 0);
}

/* Button 7 */
a.btn7{
	color: #262626;
	font-size: 40px;
	border: 3px solid #262626;
	padding: 40px 80px;
	position: relative;
	overflow: hidden;
	transition: all .5s;
}

a.btn7::before{
	content: 'Hover Me';
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #262626;
	color: #fff;
	transform: scale(5);
	opacity: 0;
	transition: all .5s;
}

a.btn7:hover:before{
	transform: scale(1);
	opacity: 1;
}

/* Button 8 */
button.btn8{
	color: tomato;
	font-size: 25px;
	border: 2px solid tomato;
	padding: 20px 40px;
	position: relative;
	transition: all .5s;
	overflow: hidden;
	background: none;
	text-transform: uppercase;
	cursor: pointer;
}

button.btn8::before{
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	background-color: tomato;
	width: 100%;
	height: 100%;
	z-index: -1;
	border-radius: 0 0 50% 50%;
	height: 0%;
	transition: all .5s;
}

button.btn8:hover{
	color: #fff;
}

button.btn8:hover:before{
	height: 190%;
}

/* Button 9 */
button.btn9{
	padding: 20px 40px;
	text-transform: uppercase;
	background-color: #f1c40f;
	color: #fff;
	font-size: 20px;
	letter-spacing: 2px;
	position: relative;
	border: none;
}

button.btn9::before{
	content: "button";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-transform: uppercase;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #2ce771;
	transform: rotateX(270deg);
	transform-origin: top;
	transition: all .5s;
}

button.btn9:hover:before, button.btn9:hover::after{
	transform: rotateX(0deg);
}

button.btn9::after{
	content: "button";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-transform: uppercase;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: tomato;
	transform: rotateX(270deg);
	transform-origin: top;
	transition: all .5s;
	transition-delay: .25s;
}

/* Button 10 */
a.btn10{
	width: 220px;
	height: 80px;
	color: #ff0;
	background-color: transparent;
	font-size: 26px;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	transition: all .5s;
	line-height: 80px;
	position: relative;
}

a.btn10:hover{
	color: #262626;
	transition-delay: .4s;
}

a.btn10 span{
	background-color: #ff0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 8px;
	transform: scale(0);
	transition: all .3s;
	z-index: -1;
}

a.btn10:hover span{
	transform: scale(1);
	transition-delay: .4s;
}

a.btn10::before,
a.btn10::after{
	content: '';
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 20px;
	height: 20px;
	background-color: #ff0;
	border-radius: 50%;
	transition: all .3s;
	z-index: -1;
	opacity: 0;
}

a.btn10::before{
	left: 0;
	box-shadow: -100px 0 0 #ff0;
}

a.btn10:hover:before{
	left: 50%;
	opacity: 1;
	box-shadow: -30px 0 0 #ff0;
	transform: translateX(-50%) translateY(-50%);
}

a.btn10::after{
	right: 0;
	box-shadow: 100px 0 0 #ff0;
}

a.btn10:hover::after{
	right: 50%;
	opacity: 1;
	box-shadow: 30px 0 0 #ff0;
	transform: translateX(50%) translateY(-50%);
}